.smurfContainer {
  border: 4px solid deeppink;
  background-color: aliceblue;
  opacity: .85;
  margin: 2px auto;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;

}

.smurfItem {
  border: 4px solid dodgerblue;
  margin: 0 auto;
  color: dodgerblue;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: relative;
  z-index: 2;
  opacity: 1;
}

h4 {
  padding: .5px;
  margin: 0;
}

.smurfFormInputs {
  border: 2px solid rebeccapurple;;
  margin: 2px auto;
  display: flex;
  width: 35%;
  justify-content: center;


}

.buttonContainer {
  border: 2px solid white;
  margin: 2px auto;
  width: 60%;
  display: flex;
  justify-content: center;

}